<app-user-list></app-user-list>

<!--<form  [formGroup]="signUpForm" autocomplete="off"  (ngSubmit)="onSubmit()">-->
<!--  <label for="email">E-mail :-->
<!--    <input  type="email" value="" id="email" formControlName="email" >-->
<!--    <p *ngIf="signUpForm.get('email').invalid && signUpForm.get('email').touched">Please write the correct email</p>-->
<!--  </label>-->
<!--&lt;!&ndash;  <p>{{form.errors}}</p>&ndash;&gt;-->
<!--  <div class="noname" formGroupName="passwordGroup">-->
<!--    <label for="password">-->
<!--      Password :-->
<!--      <input type="password"  id="password" formControlName="password">-->
<!--      <p *ngIf="signUpForm.get('passwordGroup.password').invalid && signUpForm.get('passwordGroup.password').touched">The lenght of Password should be more then 7 characters</p>-->
<!--    </label>-->
<!--    <br>-->
<!--    <br>-->
<!--    <label for="rePassword"> Confirm Password :-->

<!--      <input type="password" id="rePassword" formControlName="rePassword">-->
<!--      <p *ngIf="signUpForm.get('passwordGroup').invalid && signUpForm.get('passwordGroup.rePassword').touched">-->
<!--        both inputs should be the same!-->
<!--      </p>-->
<!--    </label>-->
<!--    <br>-->
<!--    <br>-->
<!--  </div>-->

<!--  <label for="nickname"> Nickname :-->
<!--    <input type="text" id="nickname" formControlName="nickname">-->
<!--  </label>-->
<!--  <label for="phoneNumber"> Phone Number :-->
<!--    <input type="number" id="phoneNumber" formControlName="phoneNumber">-->
<!--  </label>-->
<!--  <label for="website"> Website :-->
<!--    <input type="url" id="website" formControlName="website">-->
<!--  </label>-->
<!--  <label for="rules">-->
<!--    <input type="checkbox" id='rules' formControlName="checkbox">-->
<!--    I have Read the agreement-->
<!--  </label>-->

<!--  <p *ngIf="signUpForm.invalid && signUpForm.touched"> Please enter valid inputs</p>-->
<!--  <button-->
<!--    [disabled]="signUpForm.get('passwordGroup').hasError('confirmed')-->
<!--    || !this.signUpForm.get('checkbox').value"-->


<!--  > ramee</button>-->
<!--</form>-->

<!--<button (click)="kk()">kaxa klea</button>-->
