<p>valuta-rico works!</p>
<form class="form-container" [formGroup]="form">

  <button (click)="addCurrency()">Add </button>
  <div class="input-container" formArrayName="currencies">

    <div *ngFor="let currency of allCurrencies.controls; index as i" >
      <div [formGroupName]="i">
        <select name="firstCurrency" formControlName="selectIn">
          <option *ngFor="let curr of currencyNames" [value]="curr">{{curr}}</option>
        </select>
        <input type="number" formControlName="valueIn" placeholder="enter amount" required onkeydown="return event.keyCode !== 69">
      </div>
    </div>
  </div>

  <div class="output-container">
    <select name="secondCurrency" formControlName="selectOut">
      <option *ngFor="let curr of currencyNames" [value]="curr">{{curr}}</option>
    </select>
    <input type="number" formControlName="valueOut"  placeholder="enter amount" required onkeydown="return event.keyCode !== 69">
  </div>
</form>
